{% extends 'base.html.twig' %}

{% block title %}{% endblock %}
{% block description %}{% endblock %}
{% block url %}{% endblock %}

{% block body %}
    <section class="bg-white py-14 lg:py-20">
        <div class="mx-auto max-w-2xl lg:max-w-7xl px-6 lg:px-8">
            <div class="mx-auto max-w-2xl lg:mx-0">
                <p class="text-sm font-semibold leading-7 text-primary uppercase tracking-wide">Particulier</p>
                <h1 class="mt-2 text-4xl font-bold tracking-tight text-gray-900 sm:text-6xl">Frontalier</h1>
                <p class="mt-6 text-lg leading-8 text-gray-600">Des assurances adaptées aux besoins spécifiques des frontaliers pour une protection optimale de chaque côté de la frontière.</p>
            </div>
            <div class="mx-auto grid max-w-2xl auto-rows-fr grid-cols-1 md:grid-cols-2 gap-8 mt-12 lg:mt-16 lg:mx-0 lg:max-w-none lg:grid-cols-3">
                <div class="group relative isolate flex flex-col justify-end overflow-hidden bg-gray-50 hover:bg-white border border-gray-100 hover:border-primary rounded-3xl p-8 transition duration-100">
                    <div class="flex h-11 w-11 flex-none items-center justify-center rounded-lg bg-primary mb-10">
                        <svg class="h-6 w-6 text-white" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true" data-slot="icon">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M9 6.75V15m6-6v8.25m.503 3.498 4.875-2.437c.381-.19.622-.58.622-1.006V4.82c0-.836-.88-1.38-1.628-1.006l-3.869 1.934c-.317.159-.69.159-1.006 0L9.503 3.252a1.125 1.125 0 0 0-1.006 0L3.622 5.689C3.24 5.88 3 6.27 3 6.695V19.18c0 .836.88 1.38 1.628 1.006l3.869-1.934c.317-.159.69-.159 1.006 0l4.994 2.497c.317.158.69.158 1.006 0Z" />
                        </svg>
                    </div>
                    <h2 class="text-2xl font-semibold leading-8 text-gray-900">
                        <a href="{{ path('app_individual_offer_border_health_insurance') }}">
                            <span class="absolute inset-0"></span>
                            Prévoyance
                        </a>
                    </h2>
                    <p class="text-gray-600 mt-4">Anticipez l'avenir avec une protection sur mesure.</p>
                    <p class="font-semibold text-primary text-sm mt-3">Découvrir nos offres <span aria-hidden="true">&rarr;</span></p>
                </div>
                <div class="group relative isolate flex flex-col justify-end overflow-hidden bg-gray-50 hover:bg-white border border-gray-100 hover:border-primary rounded-3xl p-8 transition duration-100">
                    <div class="flex h-11 w-11 flex-none items-center justify-center rounded-lg bg-primary mb-10">
                        <svg class="h-6 w-6 text-white" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true" data-slot="icon">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M9 6.75V15m6-6v8.25m.503 3.498 4.875-2.437c.381-.19.622-.58.622-1.006V4.82c0-.836-.88-1.38-1.628-1.006l-3.869 1.934c-.317.159-.69.159-1.006 0L9.503 3.252a1.125 1.125 0 0 0-1.006 0L3.622 5.689C3.24 5.88 3 6.27 3 6.695V19.18c0 .836.88 1.38 1.628 1.006l3.869-1.934c.317-.159.69-.159 1.006 0l4.994 2.497c.317.158.69.158 1.006 0Z" />
                        </svg>
                    </div>
                    <h2 class="text-2xl font-semibold leading-8 text-gray-900">
                        <a href="{{ path('app_individual_offer_border_health') }}">
                            <span class="absolute inset-0"></span>
                            Santé
                        </a>
                    </h2>
                    <p class="text-gray-600 mt-4">Prenez soin de vous avec une couverture santé adaptée.</p>
                    <p class="font-semibold text-primary text-sm mt-3">Découvrir nos offres <span aria-hidden="true">&rarr;</span></p>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="mx-auto max-w-2xl lg:max-w-7xl px-6 py-6 lg:px-8">
            <nav class="flex" aria-label="Breadcrumb">
                <ol role="list" class="flex items-center space-x-4">
                    <li>
                        <div>
                            <a href="{{ path('app_home') }}" class="text-gray-400 hover:text-gray-500 transition duration-100">
                                <svg class="h-5 w-5 shrink-0" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true" data-slot="icon">
                                    <path fill-rule="evenodd" d="M9.293 2.293a1 1 0 0 1 1.414 0l7 7A1 1 0 0 1 17 11h-1v6a1 1 0 0 1-1 1h-2a1 1 0 0 1-1-1v-3a1 1 0 0 0-1-1H9a1 1 0 0 0-1 1v3a1 1 0 0 1-1 1H5a1 1 0 0 1-1-1v-6H3a1 1 0 0 1-.707-1.707l7-7Z" clip-rule="evenodd" />
                                </svg>
                                <span class="sr-only">Accueil</span>
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="flex items-center">
                            <svg class="h-5 w-5 shrink-0 text-gray-400" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true" data-slot="icon">
                                <path fill-rule="evenodd" d="M8.22 5.22a.75.75 0 0 1 1.06 0l4.25 4.25a.75.75 0 0 1 0 1.06l-4.25 4.25a.75.75 0 0 1-1.06-1.06L11.94 10 8.22 6.28a.75.75 0 0 1 0-1.06Z" clip-rule="evenodd" />
                            </svg>
                            <p class="ml-4 text-sm font-medium text-gray-500 hover:text-gray-700 font-primary transition duration-100">Particulier</p>
                        </div>
                    </li>
                    <li>
                        <div class="flex items-center">
                            <svg class="h-5 w-5 shrink-0 text-gray-400" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true" data-slot="icon">
                                <path fill-rule="evenodd" d="M8.22 5.22a.75.75 0 0 1 1.06 0l4.25 4.25a.75.75 0 0 1 0 1.06l-4.25 4.25a.75.75 0 0 1-1.06-1.06L11.94 10 8.22 6.28a.75.75 0 0 1 0-1.06Z" clip-rule="evenodd" />
                            </svg>
                            <a href="{{ path('app_individual_offer_border') }}"  class="ml-4 text-sm font-medium text-gray-500 hover:text-gray-700" aria-current="page">Frontalier</a>
                        </div>
                    </li>
                </ol>
            </nav>
        </div>
    </section>
{% endblock %}
