{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    <section class="mx-auto max-w-7xl relative isolate overflow-hidden bg-gray-900 px-6 py-24 sm:py-40 lg:px-8 rounded-3xl">
        <img src="{{ asset('media/site/1.jpg') }}" alt="" class="absolute inset-0 -z-10 h-full w-full object-cover opacity-50">
        <div class="max-w-7xl pt-12 mx-auto">
            <div class="max-w-2xl">
                <h2 class="text-4xl font-bold tracking-tight text-white sm:text-6xl">Assureur expert en Suisse depuis 20 ans.</h2>
                <p class="mt-6 text-lg leading-8 text-gray-300">Anim aute id magna aliqua ad ad non deserunt sunt. Qui irure qui lorem cupidatat commodo. Elit sunt amet fugiat veniam occaecat fugiat aliqua.</p>
                <div class="flex flex-col sm:flex-row mt-6 sm:space-x-3 space-y-2 sm:space-y-0">
                    <a href="#" class="w-auto text-sm font-semibold leading-6 text-white bg-primary px-4 py-3 rounded-full flex items-center justify-center transition duration-100 hover:bg-primary-light">Nos assurances</a>
                    <a href="{{ path('app_booking') }}" class="w-auto flex gap-x-1.5 text-sm font-semibold leading-6 text-gray-900 bg-white px-4 py-3 rounded-full items-center justify-center transition duration-100 hover:bg-gray-100">
                        <img src="{{ asset('media/site/2.jpg') }}" alt="" class="w-7 h-7 rounded-full">
                        <span class="text-sm">On vous rappelle</span>
                    </a>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
