{% extends 'base.html.twig' %}

{% block title %}{% endblock %}
{% block description %}{% endblock %}
{% block url %}{% endblock %}

{% block body %}
    <section class="bg-white py-14 lg:py-20">
        <div class="mx-auto max-w-2xl lg:max-w-7xl px-6 lg:px-8">
            <div class="mx-auto max-w-2xl lg:mx-0">
                <p class="text-sm font-semibold leading-7 text-primary uppercase tracking-wide">Professionnel</p>
                <h1 class="mt-2 text-4xl font-bold tracking-tight text-gray-900 sm:text-6xl">Profession libérale</h1>
                <p class="mt-6 text-lg leading-8 text-gray-600">Assurances sur mesure pour sécuriser l'activité et les revenus des professionnels libéraux.</p>
            </div>
            <div class="mx-auto grid max-w-2xl auto-rows-fr grid-cols-1 md:grid-cols-2 gap-8 mt-12 lg:mt-16 lg:mx-0 lg:max-w-none lg:grid-cols-3">
                <div class="group relative isolate flex flex-col justify-end overflow-hidden bg-gray-50 hover:bg-white border border-gray-100 hover:border-primary rounded-3xl p-8 transition duration-100">
                    <div class="flex h-11 w-11 flex-none items-center justify-center rounded-lg bg-primary mb-10">
                        <svg class="h-6 w-6 text-white" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true" data-slot="icon">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M12 3v17.25m0 0c-1.472 0-2.882.265-4.185.75M12 20.25c1.472 0 2.882.265 4.185.75M18.75 4.97A48.416 48.416 0 0 0 12 4.5c-2.291 0-4.545.16-6.75.47m13.5 0c1.01.143 2.01.317 3 .52m-3-.52 2.62 10.726c.122.499-.106 1.028-.589 1.202a5.988 5.988 0 0 1-2.031.352 5.988 5.988 0 0 1-2.031-.352c-.483-.174-.711-.703-.59-1.202L18.75 4.971Zm-16.5.52c.99-.203 1.99-.377 3-.52m0 0 2.62 10.726c.122.499-.106 1.028-.589 1.202a5.989 5.989 0 0 1-2.031.352 5.989 5.989 0 0 1-2.031-.352c-.483-.174-.711-.703-.59-1.202L5.25 4.971Z" />
                        </svg>
                    </div>
                    <h2 class="text-2xl font-semibold leading-8 text-gray-900">
                        <a href="{{ path('app_pro_offer_liberal_profession_professional_services') }}">
                            <span class="absolute inset-0"></span>
                            Services Professionnels
                        </a>
                    </h2>
                    <p class="text-gray-600 mt-4">Des solutions adaptées pour vos besoins professionnels</p>
                    <p class="font-semibold text-primary text-sm mt-3">Découvrir nos offres <span aria-hidden="true">&rarr;</span></p>
                </div>
                <div class="group relative isolate flex flex-col justify-end overflow-hidden bg-gray-50 hover:bg-white border border-gray-100 hover:border-primary rounded-3xl p-8 transition duration-100">
                    <div class="flex h-11 w-11 flex-none items-center justify-center rounded-lg bg-primary mb-10">
                        <svg class="h-6 w-6 text-white" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true" data-slot="icon">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M12 3v17.25m0 0c-1.472 0-2.882.265-4.185.75M12 20.25c1.472 0 2.882.265 4.185.75M18.75 4.97A48.416 48.416 0 0 0 12 4.5c-2.291 0-4.545.16-6.75.47m13.5 0c1.01.143 2.01.317 3 .52m-3-.52 2.62 10.726c.122.499-.106 1.028-.589 1.202a5.988 5.988 0 0 1-2.031.352 5.988 5.988 0 0 1-2.031-.352c-.483-.174-.711-.703-.59-1.202L18.75 4.971Zm-16.5.52c.99-.203 1.99-.377 3-.52m0 0 2.62 10.726c.122.499-.106 1.028-.589 1.202a5.989 5.989 0 0 1-2.031.352 5.989 5.989 0 0 1-2.031-.352c-.483-.174-.711-.703-.59-1.202L5.25 4.971Z" />
                        </svg>
                    </div>
                    <h2 class="text-2xl font-semibold leading-8 text-gray-900">
                        <a href="{{ path('app_pro_offer_liberal_profession_medical') }}">
                            <span class="absolute inset-0"></span>
                            Médical
                        </a>
                    </h2>
                    <p class="text-gray-600 mt-4">Assurez vos frais médicaux pour une santé sereine.</p>
                    <p class="font-semibold text-primary text-sm mt-3">Découvrir nos offres <span aria-hidden="true">&rarr;</span></p>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
