<h1 class="text-green-600">Demande de rappel :</h1>
<p>{{ createdAt | date('d F Y') | format_date(locale='fr') }} à {{ createdAt | date('H:i') }}</p>
<br/><br/>
<p><span>Téléphone :</span>  {{ phoneNumber }}</p>
<br/><br/><br/>
<small class="text-gray-400">Cet email provient du formulaire de contact de assurance-genevoise.ch.</small>