<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
        <header {{ react_component('Header') }}></header>
        <main class="px-5 mt-20 sm:mt-24">
            {% block body %}{% endblock %}

            {% set current_route = app.request.attributes.get('_route') %}
            {% set exception = app.request.attributes.get('exception') %}
            {% set status_code = exception ? exception.statusCode : 200 %}
            {% if current_route not in excluded_routes and status_code not in [404, 403, 500] %}
                {% include('components/block_CTA.html.twig') %}
            {% endif %}
        </main>
        {% include('components/footer.html.twig') %}
    </body>
</html>
