<section class="bg-white px-6">
    <div class="relative px-6 py-24 sm:px-6 sm:py-32 lg:px-8 max-w-2xl lg:max-w-7xl bg-primary mx-auto my-6 rounded-3xl bg-cover bg-center bg-no-repeat" style="background-image: url({{ asset('media/website/ag-contact.jpg') }});">
        <div class="absolute inset-0 bg-gray-900 opacity-80 rounded-3xl"></div>
        <div class="relative mx-auto max-w-2xl text-center">
            <h2 class="text-balance text-3xl font-semibold tracking-tight text-white sm:text-5xl">Une question ? Nos conseillers sont là pour vous</h2>
            <p class="mx-auto mt-6 max-w-xl text-pretty text-lg/8 text-gray-200">Incididunt sint fugiat pariatur cupidatat consectetur sit cillum anim id veniam aliqua proident excepteur commodo do ea.</p>
            <div class="mt-10 flex items-center justify-center gap-x-6">
                <a href="#" class="flex items-center gap-x-2 bg-white px-3.5 py-3 text-sm font-semibold text-gray-900 hover:bg-gray-200 transition duration-100 rounded-full">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-4">
                        <path fill-rule="evenodd" d="M1.5 4.5a3 3 0 0 1 3-3h1.372c.86 0 1.61.586 1.819 1.42l1.105 4.423a1.875 1.875 0 0 1-.694 1.955l-1.293.97c-.135.101-.164.249-.126.352a11.285 11.285 0 0 0 6.697 6.697c.103.038.25.009.352-.126l.97-1.293a1.875 1.875 0 0 1 1.955-.694l4.423 1.105c.834.209 1.42.959 1.42 1.82V19.5a3 3 0 0 1-3 3h-2.25C8.552 22.5 1.5 15.448 1.5 6.75V4.5Z" clip-rule="evenodd" />
                    </svg>
                    On vous rapelle
                </a>
            </div>
        </div>
    </div>
</section>