<section class="bg-white pb-16 pt-24 sm:pb-24 sm:pt-32 xl:pb-32">
    <div class="pb-20 sm:pb-24 xl:pb-0">
        <div class="mx-auto bg-gray-50 border border-gray-100 flex max-w-7xl flex-col items-center gap-x-8 gap-y-10 px-6 sm:gap-y-8 lg:px-8 xl:flex-row xl:items-stretch">
            <div class="-mt-8 w-full max-w-2xl xl:-mb-8 xl:w-96 xl:flex-none">
                <div class="relative aspect-[2/1] h-full md:-mx-8 xl:mx-0 xl:aspect-auto">
                    <img class="absolute inset-0 h-full w-full bg-gray-800 object-cover shadow-xl" src="{{ asset('media/website/loic_niclasse_assurance_genevoise.webp') }}" alt="">
                </div>
            </div>
            <div class="w-full max-w-2xl xl:max-w-none xl:flex-auto xl:px-16 xl:py-24">
                <h2 class="text-3xl font-semibold tracking-tight text-gray-900 sm:text-4xl">Vous avez besoin d'aide ?</h2>
                <p class="mt-6 text-lg leading-8 text-gray-600">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration. But the majority have suffered alteration.</p>
                <div class="mt-10">
                    <a href="{{ path('app_contact') }}" class="text-sm font-semibold leading-6 text-white bg-primary px-2.5 py-3 sm:py-4 rounded-full transition duration-100 hover:bg-primary-light">Contactez-nous <span aria-hidden="true">&rarr;</span></a>
                </div>
            </div>
        </div>
    </div>
</section>
