{% extends 'base.html.twig' %}

{% block title %}{% endblock %}
{% block description %}{% endblock %}
{% block url %}{% endblock %}

{% block body %}
    <section class="bg-white py-14 lg:py-20">
        <div class="mx-auto max-w-2xl lg:max-w-7xl px-6 lg:px-8">
            <div class="mx-auto max-w-2xl lg:mx-0">
                <p class="text-sm font-semibold leading-7 text-primary uppercase tracking-wide">Questions/Réponses</p>
                <h1 class="mt-2 text-4xl font-bold tracking-tight text-gray-900 sm:text-6xl">FAQ</h1>
                <p class="mt-6 text-lg leading-8 text-gray-600">Nous restons disponible par téléphone et le <a href="{{ path('app_contact') }}" class="underline underline-offset-4 hover:text-primary transition duration-100">formulaire de contact</a> en cas de questions complémentaire.</p>
            </div>
            <div class="mt-12 lg:mt-16">
                <dl class="space-y-8 divide-y divide-gray-900/10">
                    <div class="pt-8 lg:grid lg:grid-cols-12 lg:gap-8">
                        <dt class="text-base font-primary font-semibold leading-7 text-gray-900 lg:col-span-5"><span aria-hidden="true" class="text-primary mr-1">&rarr;</span>Que propose Assurance Genevoise que les autres n’offrent pas ?</dt>
                        <dd class="mt-4 lg:col-span-7 lg:mt-0">
                            <p class="text-base leading-7 text-gray-600">Nous offrons une approche 360 degrés. Cela signifie que <u class="underline underline-offset-4">nous prenons le temps d’analyser votre situation personnelle et professionnelle</u> sous tous les angles pour vous proposer une couverture adaptée et complète. Chaque client est unique, et nos solutions le sont aussi.</p>
                        </dd>
                    </div>
                    <div class="pt-8 lg:grid lg:grid-cols-12 lg:gap-8">
                        <dt class="text-base font-primary font-semibold leading-7 text-gray-900 lg:col-span-5"><span aria-hidden="true" class="text-primary mr-1">&rarr;</span>Comment vous assurez-vous que les besoins de chaque client sont respectés ?</dt>
                        <dd class="mt-4 lg:col-span-7 lg:mt-0">
                            <p class="text-base leading-7 text-gray-600">Chez Assurance Genevoise, vous êtes au centre de toutes les décisions. Nous ne proposons pas de solutions standardisées : <u class="underline underline-offset-4">chaque proposition est étudiée pour répondre précisément à vos attentes et garantir que vous soyez 100% couvert</u>, ni plus, ni moins.</p>
                        </dd>
                    </div>
                    <div class="pt-8 lg:grid lg:grid-cols-12 lg:gap-8">
                        <dt class="text-base font-primary font-semibold leading-7 text-gray-900 lg:col-span-5"><span aria-hidden="true" class="text-primary mr-1">&rarr;</span>Quels sont vos avantages par rapport aux assureurs traditionnels ?</dt>
                        <dd class="mt-4 lg:col-span-7 lg:mt-0">
                            <p class="text-base leading-7 text-gray-600"><u class="underline underline-offset-4">Nous sommes totalement neutres sur le marché des assurances</u>. Contrairement aux assureurs classiques, nous ne sommes affiliés à aucune compagnie spécifique. Cela nous permet de comparer objectivement les offres du marché pour trouver la solution optimale pour vous.</p>
                        </dd>
                    </div>
                    <div class="pt-8 lg:grid lg:grid-cols-12 lg:gap-8">
                        <dt class="text-base font-primary font-semibold leading-7 text-gray-900 lg:col-span-5"><span aria-hidden="true" class="text-primary mr-1">&rarr;</span>Comment fonctionne votre approche “client final décide” ?
                        </dt>
                        <dd class="mt-4 lg:col-span-7 lg:mt-0">
                            <p class="text-base leading-7 text-gray-600">Nous vous présentons les options les plus adaptées à votre situation, mais <u class="underline underline-offset-4">c’est toujours vous qui avez le dernier mot</u>. Nous sommes là pour vous guider et vous conseiller, mais la décision finale vous appartient.</p>
                        </dd>
                    </div>
                    <div class="pt-8 lg:grid lg:grid-cols-12 lg:gap-8">
                        <dt class="text-base font-primary font-semibold leading-7 text-gray-900 lg:col-span-5"><span aria-hidden="true" class="text-primary mr-1">&rarr;</span>Qu’entendez-vous par “solution optimale” ?</dt>
                        <dd class="mt-4 lg:col-span-7 lg:mt-0">
                            <p class="text-base leading-7 text-gray-600">Nous cherchons toujours le <u class="underline underline-offset-4">meilleur rapport qualité/prix</u> pour répondre à vos besoins spécifiques, en vous assurant une protection complète sans superflu. Notre objectif est de maximiser vos avantages tout en respectant votre budget.</p>
                        </dd>
                    </div>
                    <div class="pt-8 lg:grid lg:grid-cols-12 lg:gap-8">
                        <dt class="text-base font-primary font-semibold leading-7 text-gray-900 lg:col-span-5"><span aria-hidden="true" class="text-primary mr-1">&rarr;</span>Pourquoi votre approche “conseil à 360 degrés” est-elle importante ?</dt>
                        <dd class="mt-4 lg:col-span-7 lg:mt-0">
                            <p class="text-base leading-7 text-gray-600">La vie est complexe et changeante. Notre approche garantit que nous prenons en compte <u class="underline underline-offset-4">tous les aspects de votre situation (personnelle, professionnelle, familiale, etc.)</u> pour vous fournir des conseils stratégiques et une couverture qui évolue avec vous.</p>
                        </dd>
                    </div>
                    <div class="pt-8 lg:grid lg:grid-cols-12 lg:gap-8">
                        <dt class="text-base font-primary font-semibold leading-7 text-gray-900 lg:col-span-5"><span aria-hidden="true" class="text-primary mr-1">&rarr;</span>Sous combien de temps puis-je être assuré ?</dt>
                        <dd class="mt-4 lg:col-span-7 lg:mt-0">
                            <p class="text-base leading-7 text-gray-600">Nous répondons à votre demande sous <u class="underline-offset-4 underline">48 heures ouvrables</u>, hors jours fériés et week-ends. Cependant, la mise en place de votre couverture dépend également des assureurs et de leur réactivité. En général, cela prend entre 2 à 3 jours, mais ce délai peut varier en fonction de la complexité de votre demande. Nous nous engageons à vous accompagner tout au long du processus pour garantir une activation rapide de votre assurance.</p>
                        </dd>
                    </div>
                    <div class="pt-8 lg:grid lg:grid-cols-12 lg:gap-8">
                        <dt class="text-base font-primary font-semibold leading-7 text-gray-900 lg:col-span-5"><span aria-hidden="true" class="text-primary mr-1">&rarr;</span>Comment nous contacter en cas de problème ?</dt>
                        <dd class="mt-4 lg:col-span-7 lg:mt-0">
                            <p class="text-base leading-7 text-gray-600">Vous pouvez nous contacter via le formulaire de contact, par téléphone (022 715 17 45) ou directement par email : support@assurance-genevoise.ch.</p>
                        </dd>
                    </div>
                    <div class="pt-8 lg:grid lg:grid-cols-12 lg:gap-8">
                        <dt class="text-base font-primary font-semibold leading-7 text-gray-900 lg:col-span-5"><span aria-hidden="true" class="text-primary mr-1">&rarr;</span>Je ne sais pas quoi choisir entre deux assurances, comment faire ?</dt>
                        <dd class="mt-4 lg:col-span-7 lg:mt-0">
                            <p class="text-base leading-7 text-gray-600">
                                Nous sommes là pour vous accompagner dans ce choix important. Notre objectif est de vous aider à identifier la meilleure option en termes de couverture et de services.
                                Contrairement à d'autres, nous ne nous focalisons pas uniquement sur le prix. Nous réalisons une analyse globale de vos besoins, en prenant en compte votre situation personnelle et professionnelle. <u class="underline-offset-4 underline">Cette approche vous permet de prendre une décision éclairée et adaptée à vos priorités</u>.
                            </p>
                        </dd>
                    </div>
                </dl>
            </div>
        </div>
    </section>
{% endblock %}
