{% extends 'base.html.twig' %}

{% block title %}{% endblock %}
{% block description %}{% endblock %}
{% block url %}{% endblock %}

{% block body %}
    <section class="bg-white py-14 lg:py-20">
        <div class="mx-auto max-w-2xl lg:max-w-7xl px-6 lg:px-8">
            <div class="mx-auto max-w-2xl lg:mx-0">
                <p class="text-sm font-semibold leading-7 text-primary uppercase tracking-wide">Questions/Réponses</p>
                <h1 class="mt-2 text-4xl font-bold tracking-tight text-gray-900 sm:text-6xl">FAQ</h1>
                <p class="mt-6 text-lg leading-8 text-gray-600">Nous restons disponible par téléphone et le <a href="{{ path('app_contact') }}" class="underline underline-offset-4 hover:text-primary transition duration-100">formulaire de contact</a> en cas de questions complémentaire.</p>
            </div>
            <div class="mt-12 lg:mt-16">
                <dl class="space-y-8 divide-y divide-gray-900/10">
                    <div class="lg:grid lg:grid-cols-12 lg:gap-8">
                        <dt class="text-base font-primary font-semibold leading-7 text-gray-900 lg:col-span-5"><span aria-hidden="true">&rarr;</span>LAMal ou CMU, laquelle choisir ?</dt>
                        <dd class="mt-4 lg:col-span-7 lg:mt-0">
                            <p class="text-base leading-7 text-gray-600">Chaque année, de nombreux travailleurs frontaliers arrivent
                                en Suisse et se demandent s’ils doivent opter pour l’assurance-maladie française ou suisse. <u class="underline-offset-4 underline">Ils disposent
                                    de trois mois pour faire ce choix</u> (délai du droit d’option). Passé ce délai, ils seront automatiquement et
                                irrévocablement affiliés à l’assurance-maladie obligatoire des soins suisse pour frontaliers, connue sous le
                                nom de LAMal frontalier.</p>
                        </dd>
                    </div>
                    <div class="pt-8 lg:grid lg:grid-cols-12 lg:gap-8">
                        <dt class="text-base font-primary font-semibold leading-7 text-gray-900 lg:col-span-5"><span aria-hidden="true">&rarr;</span>Connaissez-vous le droit d’option ? </dt>
                        <dd class="mt-4 lg:col-span-7 lg:mt-0 space-y-2">
                            <p class="text-base leading-7 text-gray-600">Ce droit, <u class="underline underline-offset-4">réservé aux frontaliers résidant en France, en Allemagne, en Italie ou en Autriche et travaillant en Suisse, concerne leur assurance-maladie</u>. Il s’applique aussi aux membres de leur famille qui ne travaillent pas (conjoint au foyer, enfants, etc.).</p>
                            <p class="text-base leading-7 text-gray-600">Les frontaliers français peuvent choisir entre l’assurance-maladie française (CMU frontalier) et l’assurance-maladie suisse (LAMal frontalier). Ils disposent de trois mois à partir de leur emménagement en France ou du début de leur emploi en Suisse pour exercer ce droit. Passé ce délai, ils seront automatiquement affiliés à la LAMal suisse et à une caisse-maladie.</p>
                            <p class="text-base leading-7 text-gray-600">Attention, le droit d’option est irrévocable. Une fois le choix fait ou le délai dépassé, il n’est plus possible de revenir en arrière.</p>
                        </dd>
                    </div>
                    <div class="pt-8 lg:grid lg:grid-cols-12 lg:gap-8">
                        <dt class="text-base font-primary font-semibold leading-7 text-gray-900 lg:col-span-5"><span aria-hidden="true">&rarr;</span>CMU et LAMal : quelles différences ?</dt>
                        <dd class="mt-4 lg:col-span-7 lg:mt-0 space-y-2">
                            <p class="text-base leading-7 text-gray-600">À première vue, l’assurance-maladie française semble plus économique, car elle ne nécessite pas de franchise ni de quote-part, contrairement à la LAMal. Cependant, le choix dépend de votre situation personnelle (revenus, frais de santé, famille). Il est donc important d’analyser votre situation avant de décider, ou de demander l’aide gratuite de nos conseillers.</p>
                            <p class="text-base leading-7 text-gray-600 underline-offset-4 underline">Principales différences :</p>
                            <ul class="list-disc text-base leading-7 text-gray-600 ml-5">
                                <li>La LAMal frontalier permet de se faire soigner en France et en Suisse, contrairement à la CMU frontalier (sous certaines conditions).</li>
                                <li>Avec la LAMal, l’assuré doit payer une franchise avant d’être remboursé.</li>
                                <li>La CMU propose des prestations plus limitées et nécessite souvent une mutuelle complémentaire.</li>
                                <li>La LAMal offre les mêmes prestations quel que soit le revenu, tandis que la CMU calcule un pourcentage basé sur le revenu.</li>
                            </ul>
                        </dd>
                    </div>
                </dl>
            </div>
        </div>
    </section>
{% endblock %}
