{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
    <section class="bg-white py-14 lg:py-20">
        <div class="mx-auto max-w-2xl lg:max-w-7xl px-6 lg:px-8">
            <div class="mx-auto max-w-2xl lg:mx-0">
                <p class="text-sm font-semibold leading-7 text-primary uppercase tracking-wide">Légal</p>
                <h1 class="mt-2 text-5xl font-bold tracking-tight text-gray-900 sm:text-6xl">Mentions légales</h1>
            </div>
            <div class="mt-12 lg:mt-16 space-y-5">
                <p class="text-gray-600 text-lg">
                    Vous êtes actuellement connecté au site web assurance-genevoise.ch, propriété exclusive de AG Assurance Genevoise SA. Ce site utilise Google Analytics.
                </p>
                <p class="text-gray-600 text-lg">
                    Dénomination sociale : <span class="font-semibold">AG Assurance Genevoise SA</span>, au capital de 100’000 francs, immatriculée au registre du commerce du canton de Genève.
                </p>
                <div>
                    <ul class="text-lg text-gray-600 list-disc ml-10 space-y-3">
                        <li>
                            <span class="font-semibold">Siège social :</span> Rue des Alpes 5, 1201 Genève, Suisse
                        </li>
                        <li>
                            <span class="font-semibold">Téléphone :</span> 022 562 42 39
                        </li>
                        <li>
                            <span class="font-semibold">Directeur de publication :</span> Hugo Schaller
                        </li>
                        <li>
                            <span class="font-semibold">Hébergeur :</span> ce site est hébergé par o2switch (<a href="https://www.o2switch.fr/" target="_blank" class="underline-offset-4 underline">https://www.o2switch.fr/</a>)
                        </li>
                    </ul>
                </div>
                <div class="space-y-5">
                    <h2 class="font-semibold uppercase tracking-wide text-xl mt-12">Responsabilités</h2>
                    <p class="text-gray-600 text-lg">
                        Nous apportons une grande attention aux informations diffusées sur le site assurance-genevoise.ch. Cependant AG Assurance Genevoise SA dégage toute responsabilité quant à la fidelité, l’exactitude, la fiabilité ou l’intégralité de ces informations.
                    </p>
                    <p class="text-gray-600 text-lg">
                        AG Assurance Genevoise SA se réserve expressément le droit de modifier tout ou partie du contenu de ce site, sans aucun avertissement préalable.
                    </p>
                    <p class="text-gray-600 text-lg">
                        AG Assurance Genevoise SA ne saurait être tenu responsable pour des dommages matériels ou immatériels causés par les informations diffusées, leur utilisation ou leur non-utilisation, par un usage mauvais ou inapproprié ou des problèmes techniques de connexion.
                    </p>
                </div>
                <div class="space-y-5">
                    <h2 class="font-semibold uppercase tracking-wide text-xl mt-12">Liens</h2>
                    <p class="text-gray-600 text-lg">
                        Les liens de ce site vers d’autres sites internet n’engage aucune responsabilité de AG Assurance Genevoise SA. L’accès à ces sites, leur utilisation ou non utilisation est propre à chaque utilisateur.
                    </p>
                </div>
                <div class="space-y-5">
                    <h2 class="font-semibold uppercase tracking-wide text-xl mt-12">Droit d’Auteur</h2>
                    <p class="text-gray-600 text-lg">
                        Tous les textes, illustrations, photographies et autres données placés sur ce site web sont la propriété exclusive de AG Assurance Genevoise, celle des détenteurs expressément cités ou sont libre de droit de diffusion.
                        Toute reproduction est subordonnée à l’autorisation écrite préalable du détenteur des droits.
                    </p>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
