{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
    <section class="bg-white py-14 lg:py-20">
        <div class="mx-auto max-w-2xl lg:max-w-7xl px-6 lg:px-8">
            <div class="mx-auto max-w-2xl lg:mx-0">
                <p class="text-sm font-semibold leading-7 text-primary uppercase tracking-wide">Légal</p>
                <h1 class="mt-2 text-5xl font-bold tracking-tight text-gray-900 sm:text-6xl">Données personnelles</h1>
            </div>
            <div class="mt-12 lg:mt-16 space-y-5">
                <p class="text-gray-600 text-lg">
                    Chez <span class="font-semibold">AG Assurance Genevoise SA</span> nous apportons une attention particulière au respect de votre vie privée.
                    Nous vous remercions d’utiliser nos services et notre site web. Nous prenons le respect de votre vie privée au sérieux.
                    Cette charte de confidentialité concerne toute personne physique partageant ses données personnelles directement ou indirectement avec AG Assurance Genevoise SA en visitant ce site web.
                </p>
                <p class="text-gray-600 text-lg">
                    <span class="font-semibold">AG Assurance Genevoise SA</span> est une société anonyme établie en Suisse et enregistrée au Rue des Alpes 5, 1201 Genève. En tant que tel, nous adhérons à la nLPD (nouvelle Loi sur la Protection des Données).
                    Notre siège social est situé au Rue des Alpes 5, 1201 Genève.
                    Vous pouvez nous faire part de vos questions en matière de protection des données à l’adresse suivante : contact@assurance-genevoise.ch
                    Cette charte de confidentialité détaille les types de données personnelles qui sont susceptibles d’être traitées et dans leur finalité.
                </p>
                <div class="space-y-5">
                    <h2 class="font-semibold uppercase tracking-wide text-xl mt-12">PERIMETRE DE LA CHARTE DE CONFIDENTIALITE</h2>
                    <p class="text-gray-600 text-lg">
                        Veuillez noter que cette charte de confidentialité concerne le traitement des données personnelles dont AG Assurance Genevoise SA est le responsable de traitement.
                        Cette Charte de confidentialité ne concerne aucun traitement de données personnelles que AG Assurance Genevoise SA peut effectuer en tant que sous-traitant découlant de votre utilisation de nos services.
                        Pour obtenir plus d’informations sur la façon dont nos services peuvent être utilisés pour faciliter vos traitements de données personnelles, et sur les responsabilités et les engagements de AG Assurance Genevoise SA en relation avec ceux-ci, veuillez-vous référer aux conditions applicables.
                        Nous appliquons la nLPD (nouvelle Loi sur la Protection des Données) pour l’ensemble de nos procédures.
                    </p>
                </div>
                <div class="space-y-5">
                    <h2 class="font-semibold uppercase tracking-wide text-xl mt-12">DONNEES PERSONNELLES TRAITEES</h2>
                    <p class="text-gray-600 text-lg">
                        Les données personnelles désignent les données qui vous identifient en tant que personne physique. Nous pouvons être amenés à traiter les types de données personnelles suivants vous concernant :
                        Vos coordonnées peuvent inclure votre nom, l’adresse courriel et le numéro de téléphone.
                        Informations utilisateur, par exemple, si vous vous connectez à notre service ou visitez nos sites internet. Ces informations peuvent comprendre le numéro IP, le type de périphérique et le navigateur, fuseau horaire, situation géographique, ainsi que vos intérêts et préférences, des informations sur la façon dont vous interagissez avec nos services, par exemple sur les fonctionnalités utilisées et les boutons cliqués.
                    </p>
                </div>
                <div class="space-y-5">
                    <h2 class="font-semibold uppercase tracking-wide text-xl mt-12">FINALITES DU TRAITEMENT DES DONNNEES</h2>
                    <p class="text-gray-600 text-lg">
                        Nous pouvons être amener à traiter vos données personnelles pour les finalités suivantes :
                    </p>
                    <ul class="text-lg text-gray-600 list-disc ml-10">
                        <li>
                            Fournir nos services conformément aux conditions applicables;
                        </li>
                        <li>
                            Administrer la relation d’affaires avec vous et le client de AG Assurance Genevoise SA que vous représentez;
                        </li>
                        <li>
                            Développer et améliorer nos services;
                        </li>
                    </ul>
                    <p class="text-gray-600 text-lg">
                        Afin de fournir des informations et des offres aux clients de AG Assurance Genevoise SA actuels ou potentiels sur notre solution par des parties tierces sélectionnées.
                        Tout matériel de marketing distribué à l’aide de vos données personnelles vous est envoyé en tant que personne morale représentant un client actuel ou potentiel de AG Assurance Genevoise SA et non à vous en tant que personne privée.
                    </p>
                </div>
                <div class="space-y-5">
                    <h2 class="font-semibold uppercase tracking-wide text-xl mt-12">PARTAGE AVEC DES TIERS ET TRANSFERT VERS LES PAYS TIERS</h2>
                    <p class="text-gray-600 text-lg">
                        <span class="underline underline-offset-4">Google Analytics :</span> Permet d’analyser le trafic sur le site web https://assurance-genevoise.ch/
                    </p>
                    <p class="text-gray-600 text-lg">
                        <span class="underline underline-offset-4">Google Tag Manager :</span> Gestionnaire de balises qui permet aux responsables marketing d’ajouter facilement des balises (Analytics, de remarketing, etc.) sur leur site Web.
                    </p>
                </div>
                <div class="space-y-5">
                    <h2 class="font-semibold uppercase tracking-wide text-xl mt-12">VOS DROITS</h2>
                    <p class="text-gray-600 text-lg">Nous avons pour obligation de traiter des éléments personnels précis, pertinents et nécessaires tout en tenant compte de nos finalités légitimes. Vous avez le droit de contrôler ce droit.</p>
                    <p class="text-gray-600 text-lg">Pour mettre à jour les données personnelles que nous traitons vous concernant, veuillez nous contacter sur <a href="mailto:contact@assurance-genevoise.ch" class="underline-offset-4 underline">contact@assurance-genevoise.ch</a></p>
                    <p class="text-gray-600 text-lg">Pour recevoir gratuitement un extrait de données personnelles que nous traitons vous concernant, vous pouvez nous envoyer une lettre recommandée à l’adresse suivante: <span class="underline-offset-4 underline">AG Assurance Genevoise SA, Rue des Alpes 5, 1201 Genève, Suisse</span>.</p>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
